body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
  }
  
  .card {
    background-image: 
    linear-gradient(90deg, rgba(0,0,0,1),rgba(0,0,0,0)),
    url('pizza.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    line-height: 1.7;
    margin: 40px auto;
    padding: 40px;
    width: 540px;
    border-radius: 10px;
  }
  
  .title {
    font-size: 25px;
    margin: 8px 0;
  }
  
  .price {
    font-size: 21px;
    font-weight: 800;
    margin: 8px 0;
  }
  
  .description {
    color: #dddddd;
    font-size: 15px;
    margin: 8px 0;
  }
  
  .buttons {
    margin: 16px 0;
    border-radius: 5px;
  }
  
  .order {
    background-color: #f13030;
    color: #ffffff;
    font-weight: 800;
    padding: 6px 16px;
    text-decoration: none;
  }
  
  .note {
    color: #dddddd;
    font-size: 13px;
    line-height: 10px;
  }
  